*{
	font-family: "Courier New", monospace;
	font-size:  20px;
}
html{
	scroll-behavior: smooth;
}
body{
	background-color: skyblue;
}
nav{
	background-color: white;
}
a:hover{
	background-color: #b4d6de;
}
nav > div{
	display: inline-block;	
	float: right;
}
h1{
	color: black !important;
	font-size: 2rem;
	text-align: center;
}
section{
	height: 100vh;
	text-align: center;
}
h2{
	font-size: 1.5rem;
}
ol{
	list-style-type: none;
}
#zuitt-motto{
	letter-spacing: 5px;
	font-size: 30px;
}
.offered-items{
	text-transform: uppercase;
}
input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}
h3 + img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}
section li{
	color: #075966;
}
h2 ~ a{
	text-decoration: none;
}
form{
	color: rgb(0,0,128);
	text-align: center;
	background-color: white;
	border:  2px solid black;
	width: 25vw;
	position: relative;
	left:  37.25%;
}
button{
	color: white;
	background-color: #cf0053;
	border: 0px;
	border-radius: 15px;
}