#external{
	color: yellow;
}
*{
	font-family: Comic Sans MS, monospace;
	font-size: 18px;
}
h1{
	font-size: 50px;
}
#learn{
	text-transform: uppercase;
}
.list{
	background-color: green;
}
li[align="left"]{
	border: 1px solid blue;
}
img+ul{
	list-style-type: none;
}
section img{
	height: 200px;
	width: 200px;
	border-radius: 100px;
}
section~p{
	text-align: center;
}
ul>li{
	letter-spacing: 10px;
}